*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #111;
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
  margin-top: 70px;
}
.logo, h1, .site-title {
  font-family: 'Bebas Neue', sans-serif;
}
@media screen and (max-width: 768px) {
body{
  margin-top: 0;
}
}

